:root {
    --deep-red: rgba(123, 30, 43,0.5);
    --dark-black: rgb(112, 104, 104);
    --warm-beige: rgb(196, 164, 132);
    --soft-peach: rgb(244, 227, 215);
    --pure-white: rgb(255, 255, 255);
    --warm-beige-opacity: rgba(196, 164, 132,.7);
    --soft-peach-opacity: rgb(244, 227, 215,.6);
    --dark-black-opacity: rgba(112, 104, 104,.4);



}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;

}
body{
    overflow-x: hidden;
    overflow-y: auto;
}
/*Navbar styling*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--warm-beige);
    padding: 10px ;
    width: 100%;
}
.logo img {
    height: 90px; 
}
.navbar {
    display: flex;
}

.nav-list{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    z-index: 5;
}
.nav-list li a {
    text-decoration: none;
    color: var(--pure-white);
}
/* Finish Navbar styling*/

/*menu toogle*/

.menu-toggle{
    display: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--pure-white);
    border: 0;
}


.search-section {
    width: 100%;
    background: url('../css/images/hero-img.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
.image-container{
    position: absolute;
    top:20%;
    align-self: center;


}

.image-container img{
    width: 100px;
}
.search-wrapper{
    width: 100%; 
    position: relative;
}
.search-bar {
    display:flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
}


.search-bar input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 10px 10px 0 0;

}

#results{
    background-color: var(--pure-white);
    z-index: 2;
    width: 100%;
    padding:8px;
    padding-right: 8px;
    border-radius: 0 0 10px 10px;
    
}

.hidden{
    display: none;
}

.search-container {
    display: flex;
    position: absolute;
    padding: 10px; 
    z-index: 5;
    right: 0;
    
}


.search-container button   {
    border: 0;
    border-radius:50%;
    height: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    
}

.search-container i{
    font-size: medium;
    background-color: rgba(0, 0, 0, 0);

}

/* JavaScript code */
.card-box{
    background-color: var(--warm-beige);
    width:100%;


}
.card-box:last-child {
    border-bottom: none;
}
.card-wrapper{
    width: 80%;
    
}

.card-title {
    font-size: 16px;
    font-weight: bold;
}

.card-text {
    font-size: 12px;
}


footer {
    background-color: var(--soft-peach);
    width: 100%;
    height: fit-content;
}

.footer-container {
    height: fit-content;
    width: 100%;
    padding: 20px;
}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;

}
.social-link{
    display: flex;
    gap: 10px;
}

.footer-nav ul li a {
    text-decoration: none;
    color: var(--dark-black);
}

.fa-facebook-f,
.fa-google,
.fa-instagram {
    transition: color 0.2s;
}

.fa-facebook-f:hover {
    color: #3b5998;
}

.fa-google:hover {
    color: #dd4b39;
}

.fa-instagram:hover {
    color: pink;
}
/* end of JavaScript code*/

/* Media Query for Mobile Screens */
@media (max-width: 768px) {
    .logo img {
        height: 70px; 
    }
    .nav-list {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        right:0;
        transition: transform 0.3s ease-in-out;

    }
    .nav-list.appear{
        display: flex;
        transform: translateX(0);
        width: 200px;
        background-color:var(--deep-red);
        gap:10px;
        
    }

    .menu-toggle{
        display: block;
    }
    .search-bar{
        width: 90%;
    }

    .search-bar input{
        font-size: 9px;
        padding: 8px;
    }

    #results{
        font-size: 9px;
        
    }

    .search-container button{
        width: 38px;
        height: 30px;
    }

   
    .card-title {
        font-size: 12px;
        font-weight: bold;
    }

    .card-text {
        font-size: 10px;
    }
}
/*
@media (min-width: 1200px) {
    .nav-list {
        gap: 30px;
    }
    .image-container img{
        width:350px;
        height:250px;
    }
    .search-section{
        height: 70vh;
    }

    .search-bar {
        width: 70%; 
    }

    .search-container input {
        font-size: 18px;
        padding: 12px;
    }

    .search-container button {
        width: 50px;
        height: 40px;
    }

    #results {
        font-size: 18px;
    }

    .card-wrapper {
        width: 60%;
        margin: auto;
    }

    .logo img {
        height: 100px;
    }

    
}

@media (min-width: 1600px) {
    .nav-list {
        gap: 50px;
        font-size: 20px;
    }
    .search-bar {
        width: 40%; 
        max-width: 1300px;
    }

    .search-bar input {
        font-size: 22px;
        padding: 18px;
        width:894px;
    }

    .search-bar button {
        width: 70px;
        height: 60px;
    }

    #results {
        margin-left: 220px;
        width: 895px;
        font-size: 20px;
    }

    .logo img {
        height: 140px;
    }

    .card-wrapper {
        width: 45%;
    }
}