:root {
    --deep-red: rgba(123, 30, 43,0.5);
    --dark-black: rgb(112, 104, 104);
    --warm-beige: rgb(196, 164, 132);
    --soft-peach: rgb(244, 227, 215);
    --pure-white: rgb(255, 255, 255);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;

}
body{
    overflow-x: hidden;
    overflow-y: auto;
}
/*Navbar styling*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--warm-beige);
    padding: 10px 20px;
    width: 100%;
}
.logo img {
    height: 90px; 
}
.navbar {
    display: flex;
}

.nav-list{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 8px 12px;
    width: 100%;
}
.nav-list li a {
    text-decoration: none;
    color: var(--pure-white);
}
/* Finish Navbar styling*/

/*menu toogle*/

.menu-toggle{
    display: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--pure-white);
    border: 0;
}


.search-section {
    width: 100%;
    background: url('../css/images/hero-img.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;

}
.search-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 80%; 
    height: 100px;
    transition: width 0.3s ease;
    
}

.search-bar input{
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 10px;

}

.search-bar button  {
    border: 0;
    border-radius:50%;
    height: 20px;
    width: 100%;
}

.search-bar i{
    font-size: large;
}


#results{
    border-radius: 5px; 
    background-color: aliceblue;
    z-index: 2;
    width: 70%;
    font-size: 14px;
    
}

.hidden{
    display: none;
}
/* JavaScript code */
.card-box{
    background-color: var(--warm-beige);
    width:100%;


}
.card-box:last-child {
    border-bottom: none;
}
.card-wrapper{
    width: 80%;
    
}

.card-title {
    font-size: 16px;
    font-weight: bold;
}

.card-text {
    font-size: 12px;
}

/* end of JavaScript code*/

/* Media Query for Mobile Screens */
@media (max-width: 768px) {
    .logo img {
        height: 70px; 
    }
    .nav-list {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        right:0;
        transition: transform 0.3s ease-in-out;

    }
    .nav-list.appear{
        display: flex;
        transform: translateX(0);
        width: 200px;
        background-color:var(--deep-red);
        gap:10px;
        
    }

    .menu-toggle{
        display: block;
    }
    
    .search-bar input{
        font-size: 9px;
        padding: 8px;
    }

    .search-bar button{
        width: 38px;
        height: 30px;
    }

    #results{
        font-size: 9px;
        
    }
}

@media (max-width: 992px) {
    
    .search-bar {
      width: 70%; 
    }
}

@media (min-width: 992px) {
    .search-bar {
      width: 800px; 
    }
}